/* Media Queries
========================================================================== */

@mixin respond-to($breakpoint) {
  @if $breakpoint== "mobile-small" {
    @media (min-width: 320px) {
      @content;
    }
  } @else if $breakpoint== "mobile" {
    @media (min-width: 375px) {
      @content;
    }
  } @else if $breakpoint== "mobile-large" {
    @media (min-width: 414px) {
      @content;
    }
  } @else if $breakpoint== "tablet" {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $breakpoint== "tablet-large" {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint== "not-desktop" {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint== "desktop-13" {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint== "desktop-15" {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $breakpoint== "desktop-16" {
    @media (min-width: 1792px) {
      @content;
    }
  } @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */

/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//! Example usage
/*
.parent {
position: relative;
}
.child {
@include centered;
}
*/

@mixin bg-fixed($url) {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
  ),
  url($url);
  background-attachment: fixed;
  background-size: cover;
}

@mixin bg-repeat($url) {
  background-image: linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.4)
  ),
  url($url);
  background-repeat: repeat;
}
