body {
    background: #000;
}
.coming-soon {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coming-soon img {
    width: 400px;
}

.coming-soon__text {
    color: #C52C19;
    text-align: center;
}